body {
  margin: unset;
}

ul {
  padding: unset;
  margin: unset;
}

li {
  list-style: none;
  list-style-type: none;
}

a {
  &:visited, &:link, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}
